body {
    background: hsl(212, 45%, 89%);
}

.container {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 5px 5px hsl(220, 15%, 55%);
    width: 83%;
    max-width: 83%;
    margin: auto;
    margin-top: 10%;
}

.image {
    text-align: center;
    padding: 15px 15px 0px 15px;
}

img {
    text-align: center;
    border-radius: 10px;
}

.text {
    text-align: center;
    padding: 0px 15px 15px 25px;
    width: 80%;
}

h3 {
 font-family: 'Outfit', sans-serif;
 font-weight: bolder;
 font-size: 18px;
 color: rgb(54, 52, 52);
}

p {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: hsl(220, 15%, 55%);
}

@media (min-width: 768px) {
    .container {
        width: 34%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 25%;
    }
}